*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 10px;
    text-align: center;
    min-height: 80vh;
    width: 60vw;
    margin: auto;
    margin-top: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.input-text{
    padding: 10px;
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 20px;

}
#check-btn{
    width: 15%;
    margin: 10px;
    padding: 10px;
    background: crimson;
    color: rgb(194, 188, 188);
    font-size: 14pt;
    border: none;
    border-radius: 20px;
}

#check-btn:hover{
    background: rgb(161, 4, 35);
    color: white;
    cursor: pointer;
}
table{
    width: 80%;
    margin: auto;

}
table > caption{
    margin: 10px;
}
table, th, td, tr{
    border: 2px solid green;
    border-collapse: collapse;
    padding: 10px;
}
.error{
    color: red;
}

/* mdedia query for phone */
@media only screen and (max-width: 600px) {
    .container{
        padding: 5px;
        width: 90%;
        margin-top: 40px;
    }
    #check-btn{
        width: 50%;
        margin: 20px;
        padding: 10px;
        font-weight: 500;
    }
    table{
        font-size: 8pt;
    
    }
    table > caption{
        margin: 10px;
    }
    table, th, td, tr{
        border: 2px solid green;
        border-collapse: collapse;
        padding: 5px;
    }
} 